.grid {
  width: 560px;
  height: 300px;
  border: solid black;
  position: absolute;
}

.block {
  position: absolute;
  width: 100px;
  height: 20px;
  background-color: coral;
}

.user {
  position: absolute;
  width: 100px;
  height: 20px;
  background-color: cornflowerblue;
}

.ball {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  background-color: cadetblue;
}
